.home-banner {
    position: relative;
}
.banner {
    text-align: center;
    margin-top: 40px;
    bottom: 30%;
    right: 41%;
    line-height: 2;
    position: absolute;
    color: white;
}
.banner h1 {
    font-size: 30px;
}

.banner button {
    margin-top: 15px;
    padding: 10px;
    background-color: #f57c00;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 16px;
}
